body {
    padding: 0px;
    margin: 0px;
}
header {
    padding: 0px;
    margin: 0px;
    height: 120px;
    background-color: #000;
}
section {
    padding: 0px;
    margin: 0px;
}
div {
    padding: 0px;
    margin: 0px;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.logo {
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}