body {
    padding: 0px;
    margin: 0px;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
}
header {
    padding: 0px;
    margin: 0px;
    height: 120px;
    background-color: #000;
}
footer {
    padding: 0px;
    margin: 0px;
    height: 300px;
    background-color: #000;
}
section {
    padding: 0px;
    margin: 0px;
    clear: both;
}
div {
    padding: 0px;
    margin: 0px;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.content {
    padding: 0px;
    margin: 0px;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.logo {
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}
nav {
    float: right;
    margin-top: 55px;
}
.menu {
    padding: 0px;
    margin: 0px;
    display: block;
}
.menu li {
    float: left;
    display: block;
}
.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
}
.menu a:hover {
    border-bottom: 1px solid #fff;
}
.view-pizza {
    background: url("../img/background.jpg") no-repeat center top/cover;
    height: 740px;
}
.description-view-block {
    padding-top: 65px;
}
.text-view {
    float: left;
    width: 460px;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-top: 200px;
}
.pizza-view {
    float: right;
    width: 460px;
}
.menu-pizza {
    background: url("../img/flour.jpg")no-repeat center top/cover;
}
.title-menu {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
h1 {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 50px;
}
.cart {
    width: 240px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    color: #fff;
}
.cart img {
    width: 200px;
}
.cart .name {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
.cart .cost {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.cart .add-to-cart {
    background: #fff;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}
.cart .add-to-cart:hover {
    background: #f9a54b;
}
.cart .add-to-cart:active {
    background: #c13f22;
}
.cart .description {
    font-size: 15px;
    margin: 20px 0;
}
.cart-block {
    margin-right: -30px;
}
.goods-out::after {
    content: "";
    display: block;
    clear: both;
}
.menu-cart {
    background: url("../img/salat.jpg") no-repeat center top/cover;
    height: 740px;
}
.darken-background {
    height: 740px;
    background: rgba(0,0,0,0.4);
}
.cart-list-block {
    background: rgba(181,181,181,0.8);
    height: 500px;
    border-radius: 25px;
    padding: 30px;
}
.main-cart {
    text-align: center;
    font-size: 35px;
}
.main-cart img {
    height: 60px;
}
.main-cart .delete-goods {
    cursor: pointer;
    display: block;
    float: left;
    width: 30px;
    margin-right: 40px;
}
.in-show-cart {
    text-transform: none;
    font-size: 20px;
}
.main-cart .name-in-main-cart {
    float: left;
    margin-right: 30px;
}
.main-cart hr {
    display: block;
    clear: both;
}
.main-cart .count-in-main-cart {
    float: right;
    width: 50px;
}
.main-cart .buttons-paragraph {
    float: right;
    margin-left: 30px;
    cursor: pointer;
 }
.main-cart .img-in-main-cart {
    float: right;
    margin-left: 30px;
}
.main-cart .cost-in-main-cart {
    float: right;
    margin-left: 30px;
    width: 100px;
}
.order-section {
    height: 300px;
    width: 600px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 30px;
    margin: 0 auto;
}
.email-field label {
    color: #fff;
    text-transform: none;
    font-size: 25px;
}
.email-field span {
    color: red;
    font-size: 25px;
}
.email-field input[type="text"] {
    display: block;
    float: right;
    margin-right: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.button-main {
    background: #fff;
    padding: 10px 20px;
    color: #000;
    font-size: 16px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    cursor: pointer;
}
.button-main:hover {
    background: #f9a54b;
}
.button-main:active {
    background: #c13f22;
}
.order-section .set {
    clear: both;
    margin-bottom: 30px;
    text-align: center;
}
.mini-cart {
    color: #fff;
}
.register {
    border: 1px solid #fff;
}
.flour {
    background: url("../img/flour.jpg")no-repeat center top/cover;
}
.signup {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
}
.signup label {
    display: block;
    padding: 20px;
}
.signup input {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.registration {
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    color: #fff;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 10px;
}
.registration input {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.registration a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.enter-button {
    background: #fff;
    padding: 5px 20px;
    color: #000;
    font-size: 10px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
    cursor: pointer;
}
.enter-button:hover {
    background: #f9a54b;
}
.enter-button:active {
    background: #c13f22;
}